* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.form {
  width: 50%;
  height: 35rem;
  border-radius: 1rem;
  margin-right: 5rem;
}
.form > p {
  text-align: center;
  font-family: monospace;
  font-size: 1rem;
}

.headingdiv {
  width: 100%;
  height: 2.5rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headingdiv > p {
  font-size: 1.5rem;
  font-family: monospace;
}
.logininput {
  width: 100%;
  height: 25rem;
  margin-top: 1rem;
}
.logininput > form {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.logininput > form > input {
  width: 80%;
  height: 2.5rem;
  outline: none;
  padding-left: 0.5rem;
  border: none;
  border-bottom: 2px solid black;
  margin-left: 1.5rem;
  font-size: 1rem;
  font-family: monospace;
}
.logininput > form > input:focus {
  transition: all 1s ease-in-out;
  background-color: rgb(234, 238, 237);
}
.buttondiv {
  width: 100%;
  height: 2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttondiv > button {
  width: 60%;
  height: 2.2rem;
  font-size: 1.2rem;
  font-family: monospace;
  border-radius: 1rem;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
.googleloginbutton {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
